<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91BD62F528B0B20A009A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BD630B28B0B20B009A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BD631528B0B20B009A4190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
